body.ls-closed .bars:after, body.ls-closed .bars:before {
	top: 15px;
}

.open { /*  Para rtificar dropdaw-list*/
  overflow: visible !important;
}
#aniimated-thumbnials img.hover { border: 2px solid black; }

 .nested_cmsli{
        margin: 0px!important;
padding: 0;
height: 22px;
    width: auto;
    }

.textLeft {
   
    text-align: left;
}

button span{
    top: 0!important;
}

.attach-view i{
    font-size: 20px;
}
.attach-view {
    position: absolute;
    right: 0;
    top: 50%;
    float: right;
    margin-top: -11px;
}

.font11{
    font-size: 11px;
}

.list-nav>li{
    border-width: 0 0 1px 0;
    margin: 0;
    background: transparent;
    padding-left: 0
}


body.ls-closed .bars:after, body.ls-closed .bars:before{
    top: 15px;
}

.theme-indigo .navbar {
    background-color: #23527c;
}

.theme-grt .navbar {
    background: #072B49;
}

.theme-grt .navbar-header a {
    color: #fff;
}

.icon-button-demo button {
    margin-right: 5px;
    margin-bottom: 12px;
}

.btn-default, .btn-default:hover, .btn-default:active, .btn-default:focus {
    background-color: #fff !important;
}

.btn-circle {
    border: none;
    outline: none !important;
    overflow: hidden;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.pamr.carousel-inner > .item > img{
    line-height: 1;
    height: 300px!important;
}

.content-top{
    position: relative;
    top: 100px;
}

.form-group.select.addMB30{
    margin-bottom: 30px !important;
}

.noMargBottom{
    margin-bottom: 0px !important;
}

.header-right{
    padding: 0 10px;
}

.header-right span{
    padding: 5px;
}

.header-right .material-icons{
    vertical-align: middle;
    font-size: 20px;
}

button.btn:not(.btn-link):not(.btn-circle) i{
    vertical-align: middle;
    top: 0;
}

.body-content{
    padding: 25px 0;
}

.form-group .bootstrap-select.btn-group.select, 
.input-group.file-control-holder{
    margin-bottom: 2px;
}

.input-group.file-control-holder input[type="file"]{
    opacity: 0;
    width: 20px;
    height: 0;
}

.input-group.file-control-holder._margin{
    margin-bottom:20px;
}

.file-control-holder .btn {
    padding: 2px 6px;
}

.custom-file-control {
    padding-left: 10px !important;
}

.card.alert{
    box-shadow: 0 2px 10px rgba(0,0,0,.2) !important;
}

.card.alert span{
    display: block;
    padding: 5px 0;
}

.card-login .alert{
    padding: 5px;
    margin-top: 5px;
}

.alert-dismissable .close, .alert-dismissible .close{
    right: 4px;
}

[align="right"]{
    text-align: right !important;
}

.table-hover > tbody > tr:hover {
    background-color: rgba(245, 126, 32, 0.09);
}

.dataTables_wrapper>.row{
    margin: 0;
}

.dataTables_wrapper input[type="search"]{
    font-size: 14px;
}

.state-process{
    font-size: 12px;
    font-weight: bold;
}

.header-right.active{
    font-weight: bold;
    color: #000;
}

.form-group label.error, .input-group label.error{
    position: absolute;
    bottom: -20px;
    margin: 0;
}

.input-group label.error{
    bottom: -11px;
}

.form-group label#acceptTerms-error{
    bottom: 30px;
}

.panel-title a{
    position: relative;
}

.panel-title a span{
    margin-right: 20px;
}

.panel-title a .material-icons{
    margin-top: 4px;
}

.btn-toolbar.button-demo a.btn{
    padding: 3px 12px;
}

.panel-group .panel{
    position: relative;
    margin-bottom: 15px;
}

.panel-group .panel a[rel="edit"]{
    position: absolute;
    right: 10px;
    top: 9px;
    padding: 4px;
    line-height: 10px;
    font-size: 16px;
}

.panel-group .panel a[rel="edit"] i{
    top: 0;
    font-size: 16px;
}

.panel-body .header-info-item span.multiple{
    display: block;
    padding-left: 20px;
    padding-top: 5px;
    position: relative;
}

.panel-body .header-info-item span.multiple:after{
    content: '->';
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 5px;
}

button div{
    display: inline-block;
}

label{
    font-weight: 600;
    font-size: 13px;
}

::-webkit-scrollbar-thumb {
    background-color: #bebebe;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #f0f0f0;
}

.card .header{
    border-bottom: 1px solid rgb(33, 150, 243);
}

table .row-btn {
    width: 90px;
}

table .icon-button-demo button {
    margin-bottom: 0;
}
table .btn-sep, .table-row-btn .btn, 
.list-group.bdg .list-group-item .options .btn-sep,
.list-group.bdg .btn-addmodal{
    padding: 4px;
    line-height: 10px;
    font-size: 16px;
}

table thead .row-btn{
    text-align: center;
}

table .btn-sep.btn:not(.btn-link):not(.btn-circle) i, 
.table-row-btn .btn:not(.btn-link):not(.btn-circle) i,
.list-group.bdg .list-group-item .options .btn:not(.btn-link):not(.btn-circle) i,
.list-group.bdg .btn-addmodal i{
    top: 0;
    font-size: 16px;
}

button.btn:not(.btn-link):not(.btn-circle) i{
    vertical-align: middle;
    top: 0;
}

.list-group.bdg{
    position: relative;
}

.list-group.bdg .btn-addmodal{
    position: absolute;
    right: 20px;
    top: 10px;
}

.list-group.bdg .list-group-item{
    border: 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.list-group.bdg .separator{
    padding: 10px;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
}

.list-group.bdg .list-group-item:after{
    display: block;
    content: "";
    clear: both;
}

.list-group.bdg .list-group-item .date{
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 12px;
}

.list-group.bdg .list-group-item .description{
    text-align: justify;
}
.list-group.bdg .list-group-item .options{
    padding-top: 10px;
    text-align: right;
}

.list-group.bdg .list-group-item .options .btn-sep{
    margin-bottom: 0;
}

.list-group.bdg .list-group-item.odd {
    background-color: #f9f9f9;
}

.list-group.bdg [class*='col-xs-'], 
.list-group.bdg [class*='col-sm-'], 
.list-group.bdg [class*='col-md-'], 
.list-group.bdg [class*='col-lg-']{
    margin: 0;
    padding: 0;
}

.table-hover > tbody > tr:hover {
    background-color: rgba(245, 126, 32, 0.09);
}

.dataTables_wrapper>.row{
    margin: 0;
}

.dataTables_wrapper input[type="search"]{
    font-size: 14px;
}

table{
    font-size: inherit;
}

table .table-row-btn {
    min-width: 20px;
    width: auto !important;
    max-width: 190px;
    text-align: center;
}
.panel-body{
    position: relative;
}

.topBottom{
    position: absolute;
    right: 4px;
    top: -42px;
}

@media (min-width: 768px){
    .container-fluid>.navbar-collapse, 
    .container-fluid>.navbar-header, 
    .container>.navbar-collapse, .container>.navbar-header{
        margin-right: 0;
        margin-left: 30px;
    }
}

.botaoListar{
    width: 25px; 
    height: 25px;
    position: relative;
}

.botaoListar i{
    position: absolute;
    top: 50%;
    left: 55%;
    margin-top: -9px;
    margin-left: -9px;
    font-size: 15px;
}

.tableCMP td{
        overflow: hidden;
    white-space: nowrap;
}

/* .checkListar {
    height: 8px;
} */

.upImage{
    position: relative;
    /* margin-bottom: 150px; */
}

.notform {
    position: absolute;
    left: 0;
    bottom: -115px;
    right: 0;
}


.showImage {
    position: relative;
}


.botaoDelImagem {
    position: absolute;
    bottom: -1px;
    margin: 1px;
    padding: 0px;
}